[submodule ".registry"]
	path = .registry
	url = https://github.com/parse-health/parse-health.r-universe.dev
	branch = HEAD
[submodule "PheCAP"]
	path = PheCAP
	url = https://github.com/celehs/PheCAP
[submodule "PheNorm"]
	path = PheNorm
	url = https://github.com/celehs/PheNorm
